<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eyes.eyesspace.service.entertain.mapper.MusicUserMapper">
    <select id="getRandomMusicList" resultType="com.eyes.eyesspace.service.entertain.module.music.po.UserMusicPo">
        select id, title, author, url, pic, views, likes, comments
        from music as t1 join
        (
            select round(
                rand() * (
                    (select max(id) from music) -
                    (select min(id) from music)
                )
                + (select min(id) from music)
            ) AS tid
        ) AS t2
        <where>
            t1.id >= t2.tid
            <choose>
                <when test="role == 'ROLE_admin'">
                    and status!=2
                </when>
                <when test="role == 'ROLE_user'">
                    and status=0
                </when>
                <otherwise>
                    and 1=0
                </otherwise>
            </choose>
        </where>
        order by t1.id limit 5;
    </select>
</mapper>