<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eyes.eyesspace.service.entertain.mapper.MusicMapper">
    <select id="getMusicListInfo" resultType="java.lang.Integer">
        select count(*) from music
        <where>
            <if test="status!=null">
                status=#{status}
            </if>
        </where>
    </select>

    <select id="getMusicInfo" resultType="com.eyes.eyesspace.service.entertain.module.music.dto.MusicInfoDto">
        Select title, author, pic, owner_comment, url, views, likes, comments, create_time
        from music
        <where>
            id=#{id}
            <choose>
                <when test="role == 'ROLE_admin'">
                    and status!=3
                </when>
                <when test="role == 'ROLE_user'">
                    and status=0
                </when>
                <otherwise>
                    and 1=0
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>