<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eyes.eyesspace.service.entertain.mapper.VideoMapper">
    <select id="getVideoListInfo" resultType="java.lang.Integer">
        select count(*) from video
        <where>
            <if test="status!=null">
                status=#{status}
            </if>
        </where>
    </select>

    <select id="getVideoInfo" resultType="com.eyes.eyesspace.service.entertain.module.video.dto.VideoInfoDto">
        Select title, original_author, picture_url, original_url, owner_comment, video_url, views, likes, comments, create_time
        from video
        <where>
            id=#{id}
            <choose>
                <when test="role == 'ROLE_admin'">
                    and status!=2
                </when>
                <when test="role == 'ROLE_user'">
                    and status=0
                </when>
                <otherwise>
                    and 1=0
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>