/* 全站字体 */
@font-face {
    font-family: 'eyes';
    src: url('https://cdn.jsdelivr.net/gh/YuJiZhao/picbed@material/font/eyesblog.woff2');
    font-display: swap;
}

body,
.gitcalendar {
    font-family: eyes !important;
}

/* 全站鼠标样式 */
body, span, time, i {
    cursor: url('https://cdn.jsdelivr.net/gh/YuJiZhao/picbed/blog/other/normal.png'), auto;
}

a:hover, button:hover, #footer-wrap a:hover, #pagination .page-number:hover, #nav .site-page:hover, a > i, a > span{
    cursor: url('https://cdn.jsdelivr.net/gh/YuJiZhao/picbed/blog/other/click.png'), auto;
}