// 响应式布局
@media screen and (min-width: 750px) {
    html {
        font-size: 37.5px !important;
    }
}

// 字体
@font-face {
    font-family: 'eyes';
    src: url('https://cdn.jsdelivr.net/gh/YuJiZhao/picbed@material/font/eyesblog.woff2');
    font-display: swap;
}
body {
    font-family: eyes !important;
}

// 鼠标
body, span, time, i {
    cursor: url('https://cdn.jsdelivr.net/gh/YuJiZhao/picbed/blog/other/normal.png'), auto;
}
a:hover, button:hover, #footer-wrap a:hover, #pagination .page-number:hover, #nav .site-page:hover, a > i, a > span{
    cursor: url('https://cdn.jsdelivr.net/gh/YuJiZhao/picbed/blog/other/click.png'), auto;
}

// 谷歌导航条样式设置
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(76, 180, 240);
}