<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eyes.eyesspace.service.article.mapper.BlogMapper">
    <select id="getBlogData" resultType="com.eyes.eyesspace.service.article.module.po.BlogDataPo">
        select
               sum(views) viewsNum,
               sum(likes) likesNum,
               sum(collections) collectionsNum,
               sum(comments) commentsNum
        from blog
        <where>
            <choose>
                <when test="role == 'ROLE_admin'">
                    status!=2
                </when>
                <otherwise>
                    status=0
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="getBlogListInfo" resultType="java.lang.Integer">
        select count(*) from blog
        <where>
            <if test="status!=null">
                status=#{status}
            </if>
        </where>
    </select>

    <select id="getBlogList" resultType="com.eyes.eyesspace.common.feign.module.dto.BlogListDto">
        select b.id, b.title, b.summary, bc.category, b.views, b.likes, b.collections, b.words, b.status, b.create_time
        from blog b, blog_category bc
           <if test="label!=null">
               , blog_label bl, blog_label_id bli
           </if>
        <where>
            <if test="status==2">
                b.status!=2
            </if>
            <if test="status==0">
                b.status=0
            </if>
            <if test="category!=null">
                and category=#{category}
            </if>
            <if test="label!=null">
                and bl.label=#{label} and bl.id=bli.label_id and bli.blog_id=b.id
            </if>
            and b.category_id = bc.id
        </where>
        order by b.id desc
        limit #{start}, #{pageSize}
    </select>

    <select id="getBlogListNum" resultType="java.lang.Integer">
        select count(*)
        from blog b, blog_category bc
        <if test="label!=null">
            , blog_label bl, blog_label_id bli
        </if>
        <where>
            <if test="status == 2">
                b.status!=2
            </if>
            <if test="status == 0">
                b.status=0
            </if>
            <if test="category!=null">
                and category=#{category}
            </if>
            <if test="label!=null">
                and bl.label=#{label} and bl.id=bli.label_id and bli.blog_id=b.id
            </if>
            and b.category_id = bc.id
        </where>
    </select>

    <select id="getBlogCategory" resultType="com.eyes.eyesspace.service.article.module.dto.BlogCategoryDto">
        select bc.category, count(*) num
        from blog b, blog_category bc
        <where>
            <choose>
                <when test="status == 2">
                    b.status != 2
                </when>
                <otherwise>
                    b.status = 0
                </otherwise>
            </choose>
            and bc.id = b.category_id
        </where>
        group by bc.category
    </select>

    <select id="getBlogLabel" resultType="com.eyes.eyesspace.service.article.module.dto.BlogLabelDto">
        select bl.label, count(*) num
        from blog b, blog_label bl, blog_label_id bli
        <where>
            <choose>
                <when test="status == 2">
                    b.status != 2
                </when>
                <otherwise>
                    b.status = 0
                </otherwise>
            </choose>
            and b.id = bli.blog_id and bli.label_id = bl.id
        </where>
        group by bl.label
    </select>

    <select id="getBlogListWords" resultType="java.lang.Integer">
        select sum(words)
        from blog
        <where>
            <choose>
                <when test="status == 2">
                    status!=2
                </when>
                <otherwise>
                    status=0
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>