div {
    box-sizing: border-box;
}

#v3-img-preview-container-id .v-images-wrap {
    z-index: 1100;
}

#v3-img-preview-container-id .img-container {
    z-index: 1100;
}

#v3-img-preview-container-id .arrow, #v3-img-preview-container-id .v3-img-preview-toolbar, #v3-img-preview-container-id .close-btn {
    z-index: 1101;
}