<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eyes.eyesblog.mapper.BlogMapper">
    <select id="findBlog" resultType="com.eyes.eyesblog.entity.Blog">
        SELECT
            id,
            status,
            title,
            cover,
            archive,
            word_num,
            create_time,
            update_time,
            priority,
            summary,
            content
        FROM
             blog
        where
             delete_time IS NULL
    </select>
</mapper>