<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eyes.eyesblog.mapper.BlogMapper">
    <!--  按id查询博客  -->
    <select id="getBlogById" resultType="map">
        SELECT
            id,
            title,
            cover,
            archive,
            word_num,
            create_time,
            update_time,
            content,
            read_num
        FROM
            blog
        WHERE
            id = #{id} AND status = "0"
    </select>

    <!--  按标签查询简介  -->
    <select id="getBlogsByLabel" resultType="map">
        SELECT
            b.id,
            b.title,
            b.cover,
            b.archive,
            b.word_num,
            b.create_time,
            b.update_time,
            b.summary,
            b.read_num
        FROM
            blog b, blog_label l
        WHERE
            l.label = #{label} AND l.blog_id = b.id AND b.status = "0"
    </select>

    <!--  按分类查询简介  -->
    <select id="getBlogsByArchive" resultType="map">
        SELECT
            id,
            title,
            cover,
            archive,
            word_num,
            create_time,
            update_time,
            summary,
            read_num
        FROM
            blog
        WHERE
            archive = #{archive} AND status = "0"
    </select>

    <!--  新增博客  -->
    <insert id="addBlog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog
            (title, cover, archive, word_num, priorty, summary, content)
        VALUES (
                #{title},
                #{cover},
                #{archive},
                #{word_num},
                #{priority},
                #{summary},
                #{content},
               )
    </insert>

    <!--  添加博客标签  -->
    <insert id="addLabel">
        INSERT INTO blog_label
        VALUES ( #{id}, #{label} )
    </insert>

<!--  修改博客  -->
<!--  删除博客  -->
<!--  设置/取消置顶  -->
</mapper>