<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eyes.eyesspace.persistent.mapper.HomeMapper">
  <select id="getHomeList" resultType="com.eyes.eyesspace.persistent.po.HomeListPO">
    select type, cid
    from home
    <where>
      <choose>
        <when test="status==2">
          status!=2
        </when>
        <otherwise>
          status=0
        </otherwise>
      </choose>
    </where>
    order by create_time desc
    limit #{start}, #{size}
  </select>

  <select id="getHomeListTotal" resultType="java.lang.Integer">
    select count(*)
    from home
    <where>
      <choose>
        <when test="status==2">
          status!=2
        </when>
        <otherwise>
          status=0
        </otherwise>
      </choose>
    </where>
  </select>
</mapper>