<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eyes.eyesspace.persistent.mapper.ShuoMapper">
    <insert id="addShuoPics">
        insert into shuoshuo_pic (shuoshuo_id, url, create_time) values
        <foreach collection="picList" item="item" separator=",">
            (
                #{id},
                #{item},
                now()
            )
        </foreach>
    </insert>

    <select id="getShuoData" resultType="com.eyes.eyesspace.persistent.po.ShuoDataPO">
        select sum(views) viewsNum, sum(comments) commentsNum
        from shuoshuo
        <where>
            <if test="role!='ROLE_admin'.toString()">
                status = 0
            </if>
        </where>
    </select>

    <select id="getShuoList" resultType="com.eyes.eyesspace.persistent.dto.ShuoInfoDTO">
        select id, content, views, comments, status, create_time
        from shuoshuo
        <where>
            <choose>
                <when test="role=='ROLE_admin'.toString()">
                    status!=2
                </when>
                <otherwise>
                    status=0
                </otherwise>
            </choose>
        </where>
        order by id desc
        limit #{start}, #{pageSize}
    </select>

    <select id="getShuoListInfo" resultType="java.lang.Integer">
        select count(*) from shuoshuo
        <where>
            <if test="status!=null">
                status=#{status}
            </if>
        </where>
    </select>
</mapper>