<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eyes.eyesspace.persistent.mapper.VideoMapper">
    <select id="getVideoListInfo" resultType="java.lang.Integer">
        select count(*) from video
        <where>
            <if test="status!=null">
                status=#{status}
            </if>
        </where>
    </select>

    <select id="getRandomVideo" resultType="com.eyes.eyesspace.persistent.po.UserVideoPO">
        select id, title, original_author, picture_url, original_url, owner_comment, video_url, views, likes, comments, create_time
        from video as t1 join (
            select round(
                rand() * (
                    (select max(id) from video) - (select min(id) from video)
                ) + (select min(id) from video)
            ) AS tid
        ) AS t2
        <where>
            t1.id >= t2.tid
            <choose>
                <when test="role=='ROLE_admin'.toString()">
                    and status!=2
                </when>
                <when test="role=='ROLE_user'.toString()">
                    and status=0
                </when>
                <otherwise>
                    and 1=0
                </otherwise>
            </choose>
            <if test="ids!=null">
                and id not in
                <foreach collection='ids' item='item' index='index' open='(' separator=',' close=')'>
                    #{item}
                </foreach>
            </if>
        </where>
        order by t1.id limit 1;
    </select>
</mapper>