.sideBar {
    position: fixed;
    z-index: 100;
    top: 20%;
    left: 0;
    height: 120px;
    width: 40px;
    transition: 1s;
}

.announce, .choose, .random {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 8px;
    transition: 1s;
}

.announce {
    top: 0;
    background-image: linear-gradient(#b39cff, #8e74ff);
}
.choose {
    top: 50px;
    background-image: linear-gradient(#b39cff, #8e74ff);
}
.random {
    top: 100px;
    background-image: linear-gradient(#6eeed2, #00c3ff);
}

.sideBar img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.myannounce {
    position: absolute;
    top: calc(20% - 20px);
    left: 0;
    transform: translateX(-100%);
    transition: 1s;
    width: 200px;
    height: 60px;
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
    color: #fff;
}

.mysearch {
    position: absolute;
    top: calc(20% + 50px);
    width: 230px;
    height: 40px;
    transform: translateX(-100%);
    transition: 1s;
}
.mysearch > input {
    border: #fff 2px solid;
    border-radius: 5px;
    padding-left: 10px;
    background-color: azure;
    border: #00c3ff 1px solid;
    width: 190px;
    height: 36px;
    color: 333;
    outline: none;
}

.myrandom {
    position: absolute;
    top: calc(20% + 100px);
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: aqua;
    color: #fff;
    font-size: 14px;
    transform: translateX(-120%);
    transition: 1s;
    /* cursor: pointer; */
}