.sideBar {
    position: fixed;
    z-index: 100;
    top: 20%;
    left: 0;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    height: 300px;
    width: 100px;
}

.announce {
    background-color: rgb(20, 214, 214);
    height: 100px;
    width: 100px;
}

.random {
    background-color: rgb(87, 133, 133);
    height: 100px;
    width: 100px;
}

.choose {
    background-color: rgb(23, 20, 214);
    height: 100px;
    width: 100px;
}